*.flac
*.wav
*.kateproject
.swp
.swo
*.qws
*.4ct
*.4tc
*.aux
*.bbl
*.blg
*.css
*.dvi
*.html
*.idv
*.lg
*.log
*.tmp
*.toc
*.xref
*.bak*
*.rpt
*.xrf
*.vo
*.sft
*.sdo
*.csd
*.ini
*.wlf
*.ipinfo
*.sdc
*rtl_work*
*gate_work*
*vstf
*/simulation/modelsim/*work*
*/db
*/incremental_db
*/output_files/
*/rtl_work/*
Histogram/simulation/modelsim/w*

.directory
